<p id="borrow">Vil du låne denne bog?</p>
<button onclick="klikFunction()">Lån bog</button>

<script>
        function klikFunction() {
            var text="Du har lånt bogen";
            document.getElementById("borrow").innerHTML 
            = text;
        }
</script>